{extends "base.html"}
{block name="content"}
<p>
    CLICCA <a href="https://arcom.agenziaentrate.gov.it/CitizenArCom/InitForm.do?ric=report" target="_blank">QUI</a> 
    E <a href="https://www.istat.it/classificazione/classificazione-degli-stati-esteri" target="_blank">QUI</a>
    PER SCARICARE I DATI
</p>
<form action="upload.php" method="post" target="_blank">
    <p>
        <label for="file">FILE DEI COMUNI:</label>
        <input id="file" name="file" type="text" value="comuni.csv" readonly>
        <button name="action" type="submit" value="upload" class="littleButton">Upload</button>
    </p>
</form>
<form action="upload.php" method="post" target="_blank">
    <p>
        <label for="file">FILE DEGLI STATI:</label>
        <input id="file" name="file" type="text" value="stati.csv" readonly>
        <button name="action" type="submit" value="upload" class="littleButton">Upload</button>
    </p>
</form>
<form action="upload.php" method="post" target="_blank">
    <p>
        <label for="file">CODICI ISO DEGLI STATI:</label>
        <input id="file" name="file" type="text" value="iso.csv" readonly>
        <button name="action" type="submit" value="upload" class="littleButton">Upload</button>
    </p>
</form>
{/block}
