{extends "base.html"}
{block name="myHeader"}
    <link rel="stylesheet" href="grid.css">
{/block}
{block name="content"}
    <form action="index.php" method="post" class="mainForm" novalidate>
        <div class="row">
            <label for="cognome">COGNOME:</label>
            <div class="fields">
                <input id="cognome" name="cognome" type="text" required>
            </div>
        </div>
        <div class="row">
            <label for="nome">NOME:</label>
            <div class="fields">
                <input id="nome" name="nome" type="text" required>
            </div>
        </div>
        <div class="row">
            <label for="sesso">SESSO:</label>
            <div class="fields">
                <select id="sesso" name="sesso">
                    <option value="M">maschio</option>
                    <option value="F">femmina</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label for="ddn-localized">DATA DI NASCITA:</label>
            <div class="fields">
                <input id="ddn-localized" type="text" required>
                <input id="ddn" name="ddn" type="hidden">
            </div>
        </div>
        <div class="row">
            <label for="ldn-name">LUOGO DI N.:</label>
            <div class="fields">
                <input id="ldn-name" type="text" required>
                <input id="ldn" name="ldn" type="hidden" required>
            </div>
        </div>
        <div class="actions">
            <button name="action" type="submit" value="calculate" class="littleButton">Engage!</button>
        </div>
        <div class="invalid-message blink-fast font-red">ERRORE NEI CAMPI EVIDENZIATI!</div>
    </form>
{/block}
{block name="myFooter"}
    <script>
        $('#cognome,#nome').on('change',function(ev){
            this.value = this.value.toUpperCase();
        });
        $('form').on('submit',function(ev){
            $(this).addClass('was-validated');
            if (!this.checkValidity()) {
                ev.preventDefault();
                ev.stopPropagation();
            }
        });
        $('#ddn-localized').datepicker({
            changeYear: true,
            altFormat: 'yy-mm-dd',
            altField: '#ddn'
        });
        $('#ldn-name').autocomplete({
            source: "{$serverURL}/search_code.php",
            minLength: 3,
            select: function(event,ui) {
                $('#ldn').val(ui.item.value);
                $('#ldn-name').val(ui.item.label);
                return false;
            }
        });
    </script>
{/block}
