{extends "base.html"}
{block name="myHeader"}
<link rel="stylesheet" href="grid.css">
<style>
    #msCode { width: 3ex; }
</style>
{/block}
{block name="content"}
<form action="index.php" method="post" novalidate class="mainForm">
<div class="row">
    <label for="msCode" class="form-label">STATO (CODICE ISO):</label>
    <div class="fields">
        <input id="nome" type="text">
        <input id="msCode" name="msCode" type="text" value="IT" required>
    </div>
</div>
<div class="row">
    <label for="tinNumber" class="form-label">TIN:</label>
    <input id="tinNumber" name="tinNumber" type="text" required>
</div>
<div class="actions">
    <button name="action" type="submit" value="tin" class="littleButton">Engage!</button>
</div>
</form>
{/block}
{block name="myFooter"}
<script>
    $('#tinNumber').on('change',function(ev){
        this.value = this.value.toUpperCase();
    });
    $('form').on('submit',function(ev){
        $(this).addClass('was-validated');
        if (!this.checkValidity()) {
            ev.preventDefault();
            ev.stopPropagation();
        }
    });
    $('#nome').autocomplete({
        source: "{$serverURL}/search_iso.php",
        minLength: 3,
        select: function(event,ui) {
            $('#msCode').val(ui.item.value);
            $('#nome').val(ui.item.label);
            return false;
        }
    });
</script>
{/block}
