{extends "base.html"}
{block name="content"}
<form action="index.php" method="post" novalidate>
    <label for="cf">CODICE FISCALE:</label>
    <input id="cf" name="cf" type="text" required>
    <button name="action" type="submit" value="validate" class="littleButton">
        Engage!
    </button>
</form>
{/block}
{block name="myFooter"}
<script>
    $('#cf').on('change',function(ev){
        this.value = this.value.toUpperCase();
    });
    $('form').on('submit',function(ev){
        $(this).addClass('was-validated');
        if (!this.checkValidity()) {
            ev.preventDefault();
            ev.stopPropagation();
        }
    });
</script>
{/block}
